*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d47e7e;
    list-style-type: none;
    text-decoration: none;
}
html {
    width: 100%;
}
button{
  

}
button:hover{
    background: orangered;
    cursor: pointer;
}

body{
    width: 1600px;
}

.navigation {
    height: 80px;
    width: 100%;
    border-radius: 0px;
    background: black;
    color: white;
    margin-right: 0;   
}

nav{
  
display: flex;
width: 100%;
height: 80px;
color: white;
justify-content: space-around;
}
.bamboo {
    position: absolute;
    height: 20.982316357922357px;
    width: 7.028248463826111px;
    left: 240px;
    top: 34px;
    border-radius: 0px;
    
}
.bamboo2 {
    position: absolute;
    height: 20.982316118484405px;
    width: 7.028248373515094px;
    left: 236.23193359375px;
    top: 2037px ;
    border-radius: 0px;
    
}
 .navigation h1 {
    box-sizing: border-box;
    height: 52px;
    width: 82px;
    border-radius: 2px;
    
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 1)
}
.navigation h1 a{
     color: #FFFFFF;
}

.navigation h1 :hover{
    color: orange
}
nav ul{
    display: flex; 
    width:600px;
    justify-content: space-between;
    align-items: center;  
}
.designed{
display: flex;
justify-content: center;
align-items: center;
}
nav ul li a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    font-style: medium;
    color: white;   
}
.about{
    color: #F9804B;
}
  nav ul li a:hover {
    color: orange;
}
.designed a{
    color: #ffffff;
}
.designed :hover{
    color: orange;
}
.panda-container{
width: 100%;
height: 700px;
}
.panda{
    width:100%;
    height: 100%;
    background-image: url('/online-zoo/docs/Giant\ Panda.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.circle{
    position: absolute;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    
    /* orange */
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.panda-container p{
    position: absolute;
width: 500.31px;
height: 400px;
left: calc(50% - 500.31px/2 + 330.15px);
top: 166px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 106.496px;
line-height: 75%;
/* or 80px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

}
.watch{position: absolute;
    width: 298px;
height: 54px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
border: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
right: 310px;
top: 650px;
}
.watch:hover{
    cursor: pointer;
}


.bambo{
    width: 1600px;
    height: 800px;
display: grid;
place-items: center;
}
.bambo-container{
    height: 400px;
    width: 1100px;
    
    display: flex;
    justify-content: space-around;
}
/* //////////////////////////// */
.bambo-container div{
    width: 500px;
    height: 400px;
   
}
.bambo-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/online-zoo/docs/bamboo-cap.png");
    width: 100%;
}
.bambo-info{
   display: flex;
   flex-direction: column;

}
.heading-part, .text-part{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  ;
    padding: auto;
}

.heading-part h2{

height: 116px;



font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;



color: #333B41;
}
.heading-part p{
height: 42px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;



color: #333B41;
}
.text-part .subtitle{
width: 217px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #333B41
}
.text-part p{
    height: 105px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    
    
    color: #333B41;
    }
    .flower{
        position: absolute;
width: 293px;
height: 605px;
left: 1305px;
top: 792px;


filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }


    /* /////////////// */
    .animals{
        width: 1600px;
        height: 1100px;
        display: grid;
        place-items: center;

    }
    .animals-container{
        height: 822px;
width: 1158px;
margin-bottom: 15px;

display: flex;
flex-direction: column;
gap:10px;
    }
    .first-part, .second-part{
        width: 100%;
        height: 400px;
      
        display: flex;
        justify-content: space-between;
    }
    .first-part>div, .second-part > div{
        transition: all 0.3s;
        width: 350px;
    
    
    }
    .first-part>div:hover, .second-part > div:hover{
        transform: rotate(45deg);
        cursor: pointer;
    }
    .first-part div:last-child{
        background-image: url('/online-zoo/docs/foto-card3.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .first-part div:first-child{
        background-image: url('/online-zoo/docs/foto-card1.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .first-part div:nth-child(2){
        background-image: url('/online-zoo/docs/foto-card2.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .first-part div:last-child{
        background-image: url('/online-zoo/docs/foto-card3.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    /* ////////////// */
    .second-part div:first-child{
        background-image: url('/online-zoo/docs/foto-card5.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .second-part div:nth-child(2){
        background-image: url('/online-zoo/docs/foto-card6.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .second-part div:last-child{
        background-image: url('/online-zoo/docs/foto-card7.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
 .animals button{
    width: 298px;
height: 54px;
background: #FE9013;
border-radius: 25px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;
border: none;
color: #FFFFFF;
 }
 .animals button:hover{
    cursor: pointer;
 }
 .palm{
    position: absolute;
    height: 378px;
    left: -1px;
top: 2300px;
}

.strel{
    position: absolute;
    height: 278px;
    
   left: 1229px;
   top: 2400px;
}
.left-button,.right-button{
    position: absolute;
    width: 62px;
    height: 62px;
    background:  linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    display: grid;
    place-items: center;
    border-radius: 50%;
    transition: all 0.3s;
}

.left-button:hover,.right-button:hover{
transform: rotate(85deg);
}
.left-button i,.right-button i{
    color: #ffffff;
}
.left-button{
    left: 140px;
    top: 2000px;
}
.right-button{
    right: 140px;
    top: 2000px;
}


 /* //////////////////// */
 .feed-section{
    width: 1600px;
    height: 1000px;

display: grid;
place-items: center;
background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;
 }
 .feed-container{
    height: 820px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
 width: 1100px;
 display: flex;
 flex-direction: column;
 align-items: center;
    
    border-radius: 20px;

 }
 .feed-info{
    height: 300px;
    width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .feed-info h2{
    width:100%;
height: 58px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
margin-bottom: 15px;
line-height: 120%;

text-align: center;

color: #FE9013;

 }
 .feed-info h5{
    margin-right: 100px;
    width: 844px;
height: 29px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
margin-bottom: 40px;
color: #333B41;
 }
.feed-info .sub-text{
    width: 100%;
    margin-bottom: 18px;
height: 21px;
font-family: 'Roboto';
font-style: normal;
font-weight:bold;
font-size: 16px;
margin-left: 45px;
line-height: 130%;
color: #333B41;
}
.feed-info p:last-child{
    width: 913px;
height: 42px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #333B41;
margin-right: 40px;
}
.feed-info p:last-child a{
border-bottom: 1px solid  #FE9013;
color: #333B41;

}
.feed-donate{
    height: 500px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.feed-donate h2{
    width: 209px;
height: 47px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
color: #333B41;

}
.donate-boxes{
    display: flex;
    justify-content: space-around;
align-items: center;
    width: 750px;
    margin-top: 8px;
    height: 300px;
    gap: 25px;

}
.donate-boxes>div{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 244px;
    border-radius: 5px;

}
.donate-img{
    width: 170px;
    height: 168px;
    border-radius: 5px;  background-position: center;
    background-repeat: no-repeat;
    background-color:#ffffff;
    background-size:60px;
    border: 1px solid#F9804B;

}

.first-box .donate-img{
    background-image: url('/online-zoo/docs/pay.png');
  
  
}
.second-box .donate-img{
    background-image: url('/online-zoo/docs/zoo.png');
}
.third-box .donate-img{
    background-image: url('/online-zoo/docs/monkey.png');
}
.donate-method{
   margin-top: 4px;
width: 168px;
height: 46px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
}
    
button.donate{
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;

width: 298px;
height: 54px;
margin-bottom: 90px;
border: none;

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
button.donate:hover{
    cursor: pointer;
   background-color: orangered;
}
.vector,.vector2{
    position: absolute;
    width: 45px;
height: 25.08px;


}
.vector1{
    top: 435px;
    left: 400px;
}
.vector2{
    left: 650px;
    top: 435px;
}

/* ////////////////////////// */
.testimonials{
    height: 1000px;
    width: 1600px;
    display: grid;
    place-items: center;


}
.testimonial{
    width: 1160px;
    height: 575px;
    display: flex;
    justify-content: space-between;
}
.testimonial>div{
    width: 268px;
    height: 391px;
    border-radius: 20px;
    border:  1px solid;
    border-color:linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);


}
.test-container h2 {
 
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 25px;

    text-align: center;
    
    color: #333B41;
}
.testimonial .test-box:first-child{
  background-image: url('/online-zoo/docs/testimonials.png');
}
.testimonial .test-box:nth-child(2){
    background-image: url('/online-zoo/docs/testimonials (1).png')
}
.testimonial .test-box:nth-child(3){
    background-image: url('/online-zoo/docs/testimonials (2).png');
}
.testimonial .test-box:last-child{
    background-image: url('/online-zoo/docs/testimonials (3).png');
}
.test-container button{
    transition: all 0.3s;
    width: 298px;
    height: 54px;
    background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;
border: none;
border-radius: 5px;
color: #FFFFFF;
}
.test-container button:hover{
cursor: pointer;
background-color: orangered;
}
.leav{
    position: absolute;
    width: 300.92px;
height: 395.45px;
top: 4400px;
left: 1300px;
transform: matrix(-0.86, -0.5, -0.5, 0.86, 0, 0)rotateY(180deg) rotate(-30deg);
}
.slide{
    width: 599px;
    height: 8px;
    background: #f5f7f6;
    border-radius: 5px;
    transform: translate(180px,-145px);

}
.inside-slide{
    height: 6px;
    width: 115px;
    background-color: #FE9013;
    border-radius: 5px;
    transition: all 0.9s;
}
.inside-slide:hover{
    transform: translate(500px);
    cursor: pointer;
}



/* /////////////////////////// */
footer{
    width: 1600px;
    height: 440px;
    display: grid;
    place-items: center;
background: #111115;
}

.footer-container{
    width: 1160px;
    height: 350px;
    display: flex;
    

}
.footer-container>div{
    width: 350px;
    height: 100%;

}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.donate-line h2 {
 box-sizing: border-box;
font-family: Roboto;
font-size: 19px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: center;
height: 44.909088134765625px;
width: 72.49275207519531px;
left: 5.75341796875px;
top: 1.54541015625px;
color: rgba(255, 255, 255, 1);
border: 1px solid white;
}
.donate-line h2 a{
    color: white;
}

.menu ul {
display: flex;
width: 100%;
justify-content: space-between;

}
.menu ul li a{
    width: 32px;
height: 22px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
}
.menu ul li:first-child a{
width: 43px;
height: 22px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-emphasis-color: transparent;
transition: all 0.3s;
}

.menu ul li a:hover{
color: orange;
}
label{
    width: 237px;
height: 29px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
margin-bottom: 6px;

color: #FFFFFF;
}

#news{
    padding-left: 5px;
    width: 228px;
height: 42px;
border: 1px solid orange;
background-color: transparent;
}
.news button{
    position: absolute;
    margin-left: 5px;
background: #F1F3F2;
border: 1px solid black;
border-radius: 5px;
width: 129px;
height: 42px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: black;
}
.news button:hover{
    cursor: pointer;
    opacity: 0.9;
}
.news{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.designed-footer >p{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
text-align: center;

color: #FFFFFF;
}

.donate-line h1{
    text-align: center;
    border: 1px solid #ffffff;
    width: 92px;
height: 72px;
padding-bottom: 4px;

margin-top: 20px;

}
.flower2{
    position: absolute;
    width: 40px;
    height:218px ;
    left: 280px;
    top: 259px;
    display: none;
}
.donate-line h1 a{
    font-family: 'Roboto';
    font-style: normal;
  
    font-size: 17.0145px;
   
    
    text-align: center;
    
    color: #FFFFFF;
}
.donate-line button{
margin-top: 35px;
    width: 298px;
height: 54px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
border-radius: 5px;
border: none;
}
.donate-line button:hover{
cursor: pointer;
opacity: 0.9;
}
.social-links ul{
    margin-top: 95px;
}
.social-links ul li{
    margin-top: 10px;
    margin-left: 10px;
}
.social-links ul li a {
    margin-left: 2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;}

.social-links ul li a i{
    width: 18px;
height: 12.99px;

margin-right: 2px;
transition: all 0.3s;
color: #ffffff;
}
.social-links ul li a:hover, .social-links ul li a i:hover{
    color: green;
}
  .burger {
    width: 20px;
    height: 29px;   
    display: none;
  }
 .strel2{
    position: absolute;
    height: 71px;
width: 85px;
left: 233px;
top: 2218px;
border-radius: 0px;
display: none;

 }
 
 .palm2{
    position: absolute;
    display: none;
    height: 72px;
width: 60px;
left: 0px;
top: 2213px;
border-radius: 0px;

 }
 .arrow1{
    display: none;
    position: absolute;
    height: 79px;
width: 28px;
left: 239px;
top: 356px;
border-radius: 0px;


 }

.arrow2{
    position: absolute;
    display: none;
    height: 79px;
width: 28px;
left: 239px;
top: 580px;
border-radius: 20px;
}
.palm3{
    display: none;
}
.arrow3{
    display: none;
}
.arrow4{
    display: none;
}
.card3{display: none;}
.card4{display: none;}
.topnav{display: none;}
.burgermenu{display: none;}
.closeburger{display: none;}
/*media responsive coming..*/


@media (max-width:1000px){
    html {
        width: 100%;
    }
    body{
        width: 100%;
    }
    .navigation h1{
       margin-left: 20px;
       font-size: 100%;
       width: 72px;
       height: 44px;
        
    }
    .navigation ul, .navigation div {
        flex: 100%;
        font-size: 90%;
    }
    .navigation ul li a{
        font-size: 100%;
    }
 
    section{
    }
    .circle {
        left: 466px;
        top: 76px;
        width: 367px;
        height: 367px;
    }
    .panda-container{
        width: 100%;
        height: 504px;
       
    }
    .bamboo{
        top: 37px;
        left: 37px;
      
    }
    .panda-container p{    
        left: 514px;
        top: 132px;
        font-size: 85px;
        width: 400px;
        height: 320px ;
    }
    .watch {
        left: 565px;
        top: 483px;
    }
    .bambo{
        width: 40%;
    }
     .bambo-container{
        flex: 100%;
        width: 95%;
        margin-top: -179px;
         
     }
     .text-part .subtitle{
        margin-top: 60px;
        margin-left: -280px;
       
     }

     .flower{display: none;}
     .bambo-img, .bambo-info{
        width: 40%;
        display: flex;
        height: 408px;
     }
     .bambo-info {
        padding: 0px 20px;
        margin-top: -10px;
     }
     .bambo-info .heading-part, .bambo-info .text-part, .bambo-info .subtitle{
        text-align: left;  
     }
     .bambo-info .text-part p:nth-child(2){
        margin-top: -20px;
     }
     .animals{
        width: 100%;
        margin-left: -80px;
        margin-top: -180px;
     }
     .animals-container{
        flex: 100%;  
        margin-left: 110px;
     }
     .first-part{
        width: 942px;
     }
    
     .first-part div, .second-part div {
        height: 354px;
width: 295px;  

     }
     .second-part{
        width: 942px;
        margin-top: 30px;
     }
      .left-button{
       left: 355px; 
       top: 1622px;
      }
      .right-button{
        top: 1622px;
        right: 355px;
      }
      .animals button{
        margin-top: -190px;
        margin-left: -90px;
      }
      .palm{
       
        top: 2104px;
        width: 186px;
        height: 202px;
      }
      .strel{
        top: 2126px;
        left: 759px;
        width: 241px;
        height: 180px;
      }
      .feed-section{
        width: 100%;
        height: 876px;
      }
       .feed-container{
        width: 940px;
        height: 796px;
        margin-top: -10px;
       }
       .feed-info h5, .feed-info p{
        padding: 0px 40px;
        width: 843px;
       }
       .feed-info h2{
        margin-top: 23px;
       }
       .vector1{
        left: 285px;
        
       }
       .vector2{
        left: 544px;
       }
      
       .donate-boxes{
        margin-left: -70px;
        margin-top: 20px;
       }
       .testimonials{
        width: 90%;
        margin: auto;
       height: 847px;
       }
       .testimonial{
        width: 100%;
        flex: 100%;
        gap: 1.4rem;
        
       }
       .test-container{
        margin-top: 40px;
       }
       .testimonial div:last-child{
        display: none;
       }
       .test-container button{
        margin-top: -270px;
        margin-left: -45px;
       }
       .text-box{
        width: 293px;
        height: 391px;
       }
       .leav{
        top: 3740px;
        left: 700px;
       }
       footer{
        width: 100%; 
       }

       .social{
        width: 100%;
        margin-left: 10px;
       }

       .news{
        width: 200px;
        flex: 100%;
       }
       .designed{
        margin-right: -187px;
       }
       .menu{
        flex: 50%;
        width: 100%;
       }
       .designed-footer{
        width: 100%;
       }
       .donate-line{
        flex: 100%;
        width: 100%;
        margin-left: 20px;
       }
       .donate-line button{
        margin-top: 70px;
       }
       .social-links{
        margin-top: -30px;
        height: 100px;
       }
    }
@media(max-width: 640px){
    .closeburger{position: absolute;
        height: 10px;
    width: 18px;
    left: 602px;
    top: 11px;
    border-radius: 0px;
    display: block;}
    .burgermenu{
        position: absolute;
        height: 10px;
    width: 18px;
    left: 602px;
    top: 11px;
    border-radius: 0px;
    display: block;
    }
    
.navigation h1{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 47px;
    height: 29px;
}
.navigation  li,.navigation .designed{
    display: none;
}
.navigation{
    position: fixed;
    width: 640px;
    height: 34px;
    flex: 100%;
}
.burger{
    display: block;
    color: #FFFFFF;
    position: absolute;
    top: 7px;
    left: 610px;  
   
} 
.panda{
    width: 100%;
}
body {
    width: 100%;
   height: 3181px;
}
.news{
    height: 82px;
}
.bamboo2{
    display: none;
}

.circle {
    position: absolute;
    left: 330px;
    top: 44px;
    width: 237px;
    height: 237px;
}
.panda-container{
    width: 100%;
    height: 373px;
   
}
.bamboo{
    top: 14px;
    left: 25px;
    position: absolute;
}
.panda-container p{
    position: absolute;
    left: 368px;
    top: 82px;
    font-size: 54px;
    width: 250px;
    height: 204px ;
}
.watch {
    position: absolute;
    left: 20px;
    top: 279px;
}
.bambo{
    width: 40%;
}
 .bambo-container{
    flex: 100%;
    width: 30%;
    margin-top: -24px;
     
 }
 .subtitle{
    margin-left: -280px;
   margin-top: -40px;
}
.heading-part p{
    margin-top: 20px;
}
.bambo-info.text-part p:last-child{
    margin-top: -130px;
   
}
.text-part{
    margin-top: -20px;
}

 .flower{
    display: block;
    width: 131px;
    height: 476px;
    left: 511px;
    top: 368px;
 }
 .bambo-img{
    display: none;
 }
 .bambo-info {
    padding: 0px 20px;
    width: 70%;
    margin-top: -130px;
 }
 .bambo-info .heading-part, .bambo-info .text-part, .bambo-info .subtitle{
    text-align: left;  
 }
 .animals{
    width: 100%;
    margin-left: -70px;
    margin-top: -345px;
 }
 .animals-container{
    flex: 100%;
    width: 80%;   
 }
 .first-part div:last-child{
    display: none;
 }
 .second-part div:last-child{
    display: none;
 }
 .first-part, .second-part{
    width: 599px;
    margin-left: -30px;
 }
 
  .left-button{
   left: 243px; 
   top: 1252px;
  }
  .right-button{
    top: 1252px;
    right: 243px;
  }
  .palm2{display: none;}
  .palm{display: none;}
  .palm3{
    position: absolute;
   display: block;
    top: 1648px;
    width: 128px;
    height: 209px;
    left: 0px;
    
  }
  .strel{
    top: 1720px;
    left: 465px;
    width: 175px;
    height: 131px;
  }
  .animals button{
    margin-top: -270px;
  }
  .feed-section{
    width: 640px;
    height: 781px;
    margin-top: -75px ;
    
  }
   .feed-container{
   width: 640px;
   height: 741px;

   }
   .arrow1{display: none;}
   .arrow2{display: none;}
   .arrow3{
    display: block;
    position: absolute;
    height: 29.65974946919302px;
width: 83.11898584171258px;
left: 176.187255859375px;
top: 321.728515625px;
border-radius: 0px;


    
}
    .arrow4{
        display: block;
        position: absolute;
        height: 29.65974946919302px;
width: 83.11898584171258px;
left: 384.187255859375px;
top: 321.7294921875px;
border-radius: 0px;

    }
    .donate-boxes{
        margin-top: -10px;
        margin-left: 7px;
    }
   .feed-info h5{
    width: 600px;
    height: 52px;
    font-size: 22px;
    margin-left: 143px;
   }
   .sub-text{
    width: 600px;
    height: 42px;
    font-size: 16px;
    margin-top: -20px;
    
   }
   .feed-info p:last-child {
    width: 600px;
    height: 42px;
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 80px;
    
   }
   .feed-info h2{
    margin-top: 10px;
   }
   .feed-info{
    box-sizing: border-box;
    width: 600px;
   }
   .feed-donate{
    margin-top: 10px;
   }
   section{
    width: 100%;
   }
   .first-box{
    margin-left: 60px;
   }
   .third-box{
    margin-right: 60px;
   }
   .feed-section .donate{
    height: 54px;
    width: 298px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-top: 10px;
   }
   
   .vector1{
    display: none;
   }
   .vector2{
   display: none;
   }
   .donate-img{
    width: 168px;
    height: 168px; padding: 0px opx;
   }
   .testimonials{
    width: 100%;
    margin-top: -10px;
    flex-direction: column;
    height: 668px;

   }
   .testimonial{
    flex-direction: column;
    width: 30%;
    height: 360px;
    
   }
   .test-container{
    margin-top: 10px;
   }
   .testimonial div:last-child{
    display: none;
   }
   .testimonial div{
    width: 600px;
    margin: 0px 20px;

   }
   .testimonial.test-box{
    display: none;
   }
   .testimonial .test-box:first-child{
    background-image: url('/online-zoo/docs/testimonials (5).png');
    width: 600px;
    height: 109px;
    
    
  }
  body{
    height: 3581px;
  }
  .testimonial .test-box:nth-child(2){
      background-image: url('/online-zoo/docs/testimonials (6).png');
      width: 600px;
      height: 109px;
    
  }
  .testimonial .test-box:nth-child(3){
      background-image: url('/online-zoo/docs/testimonials (7).png');
      width: 600px;
      height: 109px;
  }
   
   .slide,.inside-slide{
    display: none;
   }
   .test-container button{
   margin-top: 50px;
   margin-left: 200px;
   width: 240px;
   height: 54px;
   
   }
   .leav{
   
    left: 539px;
    width: 100px;
    height: 167px;
    height: 147.15412415145076px;

top: 3190.1953125px;
border-radius: 0px;

   }
   footer{
    height: 282px;
   }
   .footer-container{
    width: 100%;
   
   }
   .vector{
    display: none;
   }
   .vector1{display: none;}
   .vector2{display: none;}

   .social{
    width: 100%;
   
   }
   .donate-line button{
    margin-top: 30px;
   }
   .social-links {
    position: absolute;
    left:560px;
    top: 3244px;
   }
   .social-links ul li a{
    color: #111115;
   }
   
   .news div:first-child{
    display: none;
   }
   .menu{
    margin-top: -90px;
    margin-left: -300px;
    flex: 70%;
    width: 100%;
   }
   .designed-footer{
    width: 100%;
    margin-top: 200px;
    margin-left: -20px;
    
   }
   .donate-line{
    flex: 100%;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
   }
   .donate-line h2{
    width: 82px;
    height: 52px;
    font-size: 19px;
   }
  .palm{display: none;}
  .topnav{display: none;
    position: absolute;
width: 640px;
height: 23.063rem;
color: #FFFFFF;
top: 34px;
display: flex;
flex-direction: column;
}
.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}
.burgermenu:hover {
cursor: pointer;
background: rgb(84, 80, 80);

}
.topnav a.icon {
background: black;
display: block;
position: absolute;
right: 0;
top: 0;
}
#myLinks {background: #111115;
height: 22.063rem; ;}
.topnav a:hover {
background-color: #ddd;
color: black;
}
}

 
@media (max-width: 320px) {
html{width: 100%;}
body{width: 100%;}
.navigation{width: 320px;
    height: 34px;
    position: fixed;
}
.burger{
    display: block;
    position: absolute;
    left: 292px;
    top: 8px;
    width: 18px;
    height: 18px;
}
.navigation h1{
    border-style: none;
    font-size: 12.29px;
    width: 46.86px ;
    height: 29px ;
}
.panda-container{
    width: 100%;
    height: 220.96px;
   
}
.circle{
    height: 119.09095764160156px;
width: 119.09095764160156px;
left: 164.90380859375px;
top: 56.171875px;
}
.panda-container p{
    height: 102.44384002685547px;
width: 128.13401794433594px;
left: 175px;
top: 75.1240234375px;
border-radius: nullpx;
font-size: 28px;
font-weight: 700;
line-height: 20.41px;
}
.watch {
    height: 54px;
width: 298px;
left: 11px;
top: 237px;
border-radius: 25px;
}
.flower{
    display: none;
}
.flower2{
   display: block;
}
.bambo{
    width: 100%;
}
.bambo-info{
    width: 300px;
}
.heading-part h2{
    width: 60%;
    height: 58px;
    font-size: 24px;
    line-height: 28.8px;
    margin-top: 45px;
    margin-left: -209px;
}
.heading-part p{
    width: 60%;
    height: 63px;
    font-size: 16px;
    line-height: 20.8px;
    margin-top: 10px;
    margin-left: -209px;
}
.text-part{
    margin-top: -38px;
}
.subtitle{
    height: 29px;
width: 60%;
font-size: 24px;
margin-left: -289px;
margin-top: 25px;
}
.text-part p:last-child{
    width: 60%;
    height: 198px;
    font-size: 16px;
    line-height: 22.4px;
    margin-left: -209px;
    margin-top: -100px;
    padding-top: -20px;
}
.animals{
    width: 100%;
    height: 1482px;
}
.animals-container{
    margin-top: -210px;
   
}
.first-part div:first-child{
    width: 285px;
    height: 332px;
   position: absolute;
   top: 753px;
   left: 20px;
}
.first-part div:nth-child(2){
    width: 285px;
    height: 332px;
    position: absolute;
    top: 1105px;
    left: 20px;
}
.card3{
    display: block;
    width: 285px;
    height: 332px;
    position: absolute;
    top: 1457px;
    left: 20px;
     
}
.second-part div:first-child{
    display: none;
    width: 285px;
    height: 332px;
    position: absolute;
    top: 1457px;
    left: 20px;
}
.second-part div:nth-child(2){
    
    display: none;
}
.card4{
    display: block;
    width: 285px;
    height: 332px;
    position: absolute;
    top: 1807px;
    left: 20px;
}

.first-part, .second-part{
    margin-left: 20px;
}
.right-button, .left-button{
    display: none;
}
.animals button {
    margin-top: 860px;
    margin-left: -270px;
}
.strel{display: none;}
.strel2{display: block;}
.palm{display: none;}
.palm2{display:block;
}
.feed-section{
    width: 100%;
    height: 1082px;
    margin-top: 120px;
}
.feed-container{
    width: 300px;
    height: 1042px;
    margin: auto;
}
.feed-info h2{
    width: 232px;
    font-size: 24px;
    margin-top: 20px;
}
.feed-info h5{
    width: 55%;
    height: 66px;
    text-align: center;
    font-size: 18px;
    line-height: 21.6px;
    margin-left: 100px;
    margin-top: -20px;

}

.feed-info p{
    display: none;
}
.feed-donate{
    margin-top: -170px;
}
.feed-donate h2{
    font-size: 24px;
   margin-left: 70px;
}
.donate-boxes{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 200px;
}
.donate-boxes .first-box{
  margin-left:0px;
}
.donate-boxes .third-box{
    margin-left: 60px;
}

.arrow1{
    display: block;
   
}
.arrow3{display: none;}
.arrow4{display: none;}
.arrow2{
    display: block;

}
.feed-section button:last-child{
  position: absolute;
  height: 54px;
  width: 298px;
  left: 10px;
  top: 941px;
  border-radius: 25px;
  }

.testimonials{
    width: 100%;
    
    height: 690px;
}
.test-container{
    width: 299px;
    margin-top: -140px;

}
.test-container h2{
    font-size: 24px;
    margin-top: -10px;
}
.testimonial.test-box{
    width: 299px;
    height: 109px;
    margin-left: -20px;
}
.testimonial{
    margin-top: -40px;
}
.testimonial.test-box{
    display: none;
   }
   .testimonial .test-box:first-child{
    background-image: url('/online-zoo/docs/testimonials (8).png');
    width: 299px;
    height: 109px;
    margin-left: 0px;
    
    
  }
  .testimonial .test-box:nth-child(2){
      background-image: url('/online-zoo/docs/testimonials (9).png');
      width: 299px;
      height: 109px;
      margin-left: 0px;
      margin-top: -10px;
    
  }
  .testimonial .test-box:nth-child(3){
      background-image: url('/online-zoo/docs/testimonials (10).png');
      width: 299px;
      height: 109px;
      margin-left: 0px;
      margin-top: -10px;
  }
  .testimonials button{
    margin-left: 30px;
    margin-top: 20px;
  }
  .palm3{display: none;}
  .leav{
    left: 220px;
    top: 3830px;
  }
  footer{
    margin-top: -100px;
    width: 100%;
    height: 334px;
    
  }
  .footer-container{
    width: 100%;
    height: 334px;
  }
  .menu{
    width: 100%;
    flex: 60%;
    margin-top: -30px;
  }
  .donate-line h2{
    border-style: none;
    width: 320px;
    font-size: 22px;
    line-height: 29px;
    margin-left: -20px;
  }
  .social-links{
    display: flex;
    flex-direction: row;
margin-left: -520px;
margin-top: 660px;
  }
  .social-links ul{
    width: 40px;
    display: flex;
    color: #111115;
  }
  .social-links ul li a{
    color: #111115;
  }

  .donate-line button{
    margin-left: -10px;
    margin-top: 70px;
  }
  .designed-footer{
    margin-left: -340px;
    margin-top: 210px;
    color: rgba(255, 255, 255, 1);
  }

  .topnav{width: 100%;
    height: 186.96px;
    }
    .topnav a{height: 35px;}
    #myLinks{height: 186.96px;}
    .burgermenu{
        height: 10px;
width: 18px;
left: 292px;
top: 12px;
border-radius: 0px;

    }
}