
*{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    }
    html{
        width: 100rem;
        margin: auto;
    }
    body{
        width: 100rem;
        margin: auto;
    }

.navigation {
    height: 5rem;
    width: 100rem;
    background: black;
    color: white;
    margin-right: 0;   
}

nav{
 margin: auto; 
display: flex;
width: 100rem;
height: 5rem;
color: white;
justify-content: space-around;
}
.bamboo {
    position: absolute;
    height: 20.982316357922357px;
    width: 7.028248463826111px;
    left: 240px;
    top: 34px;
    border-radius: 0px;
    
}
.bamboo2 {
    position: absolute;
    height: 20.982316118484405px;
    width: 7.028248373515094px;
    left: 236.23193359375px;
    top: 2037px ;
    border-radius: 0px;
    
}
h1 {
    box-sizing: border-box;
    height: 3.25rem;
    width: 5.125rem;
    border-radius: 0.125rem;
    
    font-weight: 400;
    font-size: 19.01px;
    line-height: 1.438;
    text-align: center;
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 1)
}
h1 a{
     color: #FFFFFF;
}

h1 :hover{
    color: orange
}
nav ul{
    display: flex; 
    width:37.5rem;
    justify-content: space-between;
    align-items: center;
    
}
.designed{
display: flex;
justify-content: center;
align-items: center;
}
nav ul li a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    font-style: medium;
    
    color: white;
    
}
nav ul li a:hover {
    color: orange;
}
.designed a{
    color: #ffffff;
}
.designed :hover{
    color: orange;
}
.donate {
    color: #F9804B;
}
.panda {
    height: 24.375rem;
    width: 100%;
    Scale: fill;
}

/*....................*/

.maincontainer {
    height: 92.625rem;
    width: 100rem;
    border-radius: 0px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    margin-top: -4px;   
}
.textdiv {
    height: 5.875rem;
    width: 72.5rem;
    padding-top: 3.125rem;
    margin:auto;
    
}
.maincontainer div h3 {
    font-family: 'Roboto';
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.925rem;
    color: #FFFFFF;
}
.pardiv {
    height: 5.875rem;
    width: 72.5rem;
    margin-left: 1.938rem;
    border-radius: nullpx;   
    padding-top: 5rem;
    margin: auto;
}
.paragraph {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: white;  

}
.maincontainer >div:nth-child(3) {
    height: 2.938rem;
    width: 21.313rem;
    margin-left: 13.75rem;
    border-radius: nullpx;
    padding-top: 6.25rem;
    
}

.containerinside{
    height: 60.25rem;
    width: 72.5rem;
    border-radius: 20px;
    margin: auto;
    margin-top: 6.25rem;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);   
}
.containerinside h2 {


    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(254, 144, 19, 1);
    padding-top: 30px;
      
}
.containerinside p{
    width: 53.063rem;
    height: 1.813rem;
    margin: auto;
    padding-top: 3.125rem; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px; 
    color: #333B41;   
}


.iconcontainer {
    display: flex;
    margin-left: 12.5rem;
    margin-top: 10.625rem;
      
    
}
.minipanda {
    height: 12.5rem;
    width: 16.781rem;
    margin-left: -36.25rem;
    margin-top: -5rem;
}
.four {
   margin-left: 8.25rem;
    text-align: center;
     
}
.iconcontainer i{
    position: absolute;
    height: 0.875rem;
    width: 0.875rem;
    top: 18.75rem;
    left:31.25rem;
}
.iconcontainer p{

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(51, 59, 65, 1);
    margin-left: 110px;
    margin-top: -2.5rem;
}
.altcontainer{
  width: 72.5rem; 
  height: 27.563rem; 
  margin-top: 0px;
  
}
.altcontainer p:first-child {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5.75rem;
    
}
.scalebox {
    height: 1.688rem;
    width: 61rem;
    border-radius: 2px;
    background: rgba(64, 73, 80, 1);
    margin-top: 3.125rem;
    margin-left: 5.75rem;
    display: flex;
    border: 2px solid brown;
    align-items: center;
    justify-content: center;
    border-style: none;
   
}

.inside-scale{
    width:57.188rem;
    height: 0.125rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(114, 130, 142, 1);

}
.scalebox .inside-scale div {
    height: 0.625rem;
    width: 0.625rem;
    transition: all 0.3s;
    border-radius: 50%;
    background: rgba(255, 238, 46, 1);
  
}

.scalebox .inside-scale div:hover::before{
    cursor: pointer;
    content: '';
    transition: all 0.3s;
    width: 2rem;
    height: 2rem;
    display: block;
    border: 1px solid rgb(219, 92, 18);border-radius: 50%;
transform: translate(-0.688rem,-0.75rem);
}
.scalebox .inside-scale div:hover::after{
    cursor: pointer;
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    border: 1px solid rgb(219, 92, 18);border-radius: 50%;
transform: translate(-0.313rem,-2.5rem);
}

.dflt:nth-child(6)::before{
    content: '';
    transition: all 0.3s;
    width: 2rem;
    height: 2rem;
    display: block;
    border: 1px solid rgb(219, 92, 18);border-radius: 50%;
transform: translate(-0.688rem,-0.75rem);
}
.dflt:nth-child(6)::after{
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    border: 1px solid rgb(219, 92, 18);border-radius: 50%;
transform: translate(-0.313rem,-2.5rem);
}
.click-inside{
    border: orange;
    transform: scale(1.8);
}

.clicked::before{
    cursor: pointer;
    content: '';
    transition: all 0.3s;
    width: 2rem;
    height: 2rem;
    display: block;
    border: 1px solid rgb(219, 92, 18);border-radius: 50%;
transform: translate(-0.688rem,-0.75rem);
}
.clicked::after{
    cursor: pointer;
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    border: 1px solid rgb(219, 92, 18);border-radius: 50%;
transform: translate(-0.313rem,-2.5rem);
}
.box {
    height: 0.125rem;
    width: 57.188rem;
    border-radius: 0px;
    background: #E0D8F0;  
}
.countbox{
    display: flex;
    justify-content: space-between;
width: 61.938rem;
height: 2.25rem;
margin-left: 80px;
margin-top: 10px;
}
.count{
    font-family: Roboto;
font-size: 26px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}
.altcontainer img{
    margin-left: 6.25rem;
    margin-top: 0.813rem;
    width: 61rem;
    height: 2.25rem;
}

.input-field{
    height: 3.375rem;
    width: 16.75rem;
    border-radius: 2px;
    border: 1px solid rgba(146, 150, 153, 1);
    margin-top: 1.875rem;
    margin-left: -15.75rem;
    background: transparent;
}
.input-icon {
margin-left: 42.75rem;
margin-top: 1.25rem;
}
.inputradio {
display: flex;
width: 13.125rem;
margin: auto;
margin-top: 0.625rem;
text-align: center;

}
.radiolabel {
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
margin-left: 0.438rem;
color:#333B41;
margin-top: 0.625rem;
}
input[type="radio"] {
    appearance: none;
    width: 2.5rem;
    height: 1rem;
    border: 1px solid orange;
    border-radius: 50%;
    margin-top: 0.813rem;
}

input[type="radio"]:checked {
    background-color: green;
    border: green 1px solid;
}

.feedbutton {
    height: 3.375rem;
    width: 18.625rem;
    border-radius: 25px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-style: none;
    color: #FFFFFF;
    margin-top: 1.875rem;
    margin-left: 26.688rem;  
    

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    
}
  
.feedbutton:hover {
    cursor: pointer; 
    background: orangered;

}
.sharetext{
    color: rgba(51, 59, 65, 1);
    margin: auto;
    height: 1.375rem;
width: 18.813rem;
margin-left: 21.125rem;
    
}
.sharetext p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;  
    text-align: left;
}







/* /////////////////////////// */
footer{
    width: 100rem;
    height: 27.688rem;
    display: grid;
    place-items: center;
    background: #111115;
}

.footer-container{
    width: 100rem;
    height: 21.875rem;
    display: flex;
    

}
.footer-container>div{
    width: 21.875rem;
    height: 100%;

}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu ul {
display: flex;
width: 100%;
justify-content: space-between;

}
.menu ul li a{
    width: 2rem;
height: 1.375rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
}
.menu ul li:first-child a{
    width: 2.688rem;
height: 1.375rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
}

.menu ul li a:hover{
color: orange;
}
label{
    width: 14.813rem;
height: 1.813rem;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
margin-bottom: 6px;

color: #FFFFFF;
}
.news input {
    border: 1px solid red;
}
.news{
    margin-left: 100px;
}
.designed-footer{
    margin-left: 110px;
}
#news{
    padding-left: 0.313rem;
    width: 14.25rem;
height: 2.625rem;
color: #ffffff;

background-color: transparent;
}
#news:focus{
    outline: none ! important;
    border-color: #cf2222;
    box-shadow: 0 0 10px #db1d26; 
}

.news button{
    position: absolute;
    margin-left: 5px;
background: #F1F3F2;
border: 1px solid #4B9200;
border-radius: 0.313rem;
width: 8.063rem;
height:2.625rem;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;


color: #4B9200;
}
.news button:hover{
    cursor: pointer;
    opacity: 0.6;
}
.news{
    padding-top: 0.938rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn{
    border-color: #cf2222;
    box-shadow:0 0 10px #db1d26 ;
}
.news button {
    color: black;
    border: 1px solid #cf2222;
}
.news button :valid {
    color: green;
    border: 1x solid green;
}
.news button :invalid {
    color: red;
    border: 1x solid red;
}

.designed-footer >p{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
text-align: center;

color: #FFFFFF;
}
.donate-line h4{
    text-align: center;
    border: 1px solid #ffffff;
    width: 5.125rem;
height: 3.25rem;
padding-bottom: 0.25rem;

margin-top:1.25rem;

}
.donate-line h4 a{
    font-family: 'Roboto';

  
    font-size: 17.0145px;
    text-align: center;
    
    color: #FFFFFF;
}
.donate-line h4 a:hover {
color: orange;
}
.donate-line button{
margin-top: 2.813rem;
    width: 18.625rem;
height: 3.375rem;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 5px;


}
.social{
    padding-left: 220px;
}
.news{
    
    margin-left: 200px;
}
.menu{margin-left: 100px;}
.donate-line button a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.donate-line button:hover{
cursor: pointer;
background: orangered;
}
.social-links ul{
    margin-top: 3.438rem;
}
.social-links ul li{
    margin-top: 0.625rem;
    margin-left: 0.625rem;
}
.social-links ul li a {
    margin-left: 0.125rem;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;}

.social-links ul li a i{
    width: 1.125rem;
height: 0.812rem;

margin-right: 0.125rem;
transition: all 0.3s;
color: #ffffff;
}
.social-links ul li a:hover, .social-links ul li a i:hover{
    color: green;
}
.price5{
    display: none;
}
.price3{
    display: none;
}
.burgermenu{
    display: none;
}
.price4{
    display: none;
}
.topnav{display: none;}
.social{
    padding-left: 220px;
}
.news{
    
    margin-left: 200px;
}
.menu{margin-left: 100px;}
 
@media(max-width: 1000px){
.topnav{display: none;}
    html{width: 100%;
    height: 140.375rem;}
    body{width:100%;
    height: 140.375rem;}
.navigation{
    width: 100%;
    height: 5rem;
    margin-left: 0px;
    display: flex;
   
}
.navigation h1{
    margin-left: 1.25rem;
    font-size: 100%;
    width: 5.125rem;
    height:3.25rem;
    font-size: 19px;
    line-height: 22.82px;
    
 }
 .navigation li{
  margin-left: 0px;
 }
 .navigation ul, .navigation div {
     flex: 100%;
     font-size: 16px;
 }
 .navigation ul{
    width: 900px;
    
 }
 .designed{
    margin-left: 140px;
 }
 .navigation ul li a{
     font-size: 100%;
 }
 .bamboo{
    height: 20.982316357922357px;
width: 7.028248463826111px;
left: 37.15px;
top: 37.64px;
border-radius: 0px;

 }
 .maincontainer{
    width: 100%;
    padding-top: -1.5rem;
    height: 84rem;
 }
 .textdiv{
    width: 80%;
    margin-left: 1.3rem;
    margin-top: -1rem;
 }
 .pardiv{
    width: 90%;
    margin-left: 1.3rem;
 }
 .maincontainer div:nth-child(3){
    margin-left: 1.3rem;
    margin-top: 1rem;
   
 }
 .containerinside{
    width: 95%;
    
    height: 57.375rem;
    margin-top: 5.6rem;
 }
.containerinside h2{
    padding-top: 1rem;
    width: 100%;
    min-width: 640px;
}
.containerinside p{
    width: 90%;
    min-width: 640px;
    margin-top: -2rem;
}
.iconcontainer i{margin-left: -8rem;}
.iconcontainer{
    width: 70%;
    min-width: 320px;
    padding-top: 11rem;
    padding-left: 6rem;
}
.minipanda{margin-left: -26rem;}
.altcontainer{
    width: 100%;
    min-width: 320px;
   padding-top: 1.7rem;
}
.scalebox .sevendot:first-child{
    display: none;
}
.scalebox div:nth-child(3){
    margin-top: 0px;
}
.altcontainer .scalebox{
 width: 100%;
 min-width: 600px;
 margin-left: 0rem;
}
.countbox{
    width: 100%;
    min-width: 600px;
    margin-left: 0rem;
}
.countbox div{
    width: 100%;
    margin-left: 30px;
}
.countbox div:nth-child(3){
    
    margin-top: 0px;
}
.countbox div:first-child{
    display: none;
}
.price1{
    display: none;
}
.price3{
    display: block;
}
.input-field{
    margin-left: -22rem;
}
.input-icon .iconn{
    position: absolute;
    top: 650px;
    left: 584px;   
}
.inputradio{
    margin-left: 23rem;
}
.feedbutton{
    margin-left: 20rem;
}
.sharetext{
    margin-left: 14.3rem;
}
 footer{
    width: 100%;

 }
 .social{
    width: 50%;
    margin-left: -200px;
    
 }

 .news{
    margin-left: -3rem;
    width: 40%;
    
 }
 .news div:first-child{
   margin-left: 2rem;
 }

 .bamboo2{
   left: 47.02px;
   top: 1890px;
 }
 .footer-container{
    width: 100%;
    margin-left: 0px;
   
 }
 .designed-footer{
   
    width: 300px;
 }
}
@media (max-width:640px){
    .topnav{display: none;
        position: absolute;
width: 640px;
height: 23.063rem;
color: #FFFFFF;
top: 34px;
display: flex;
flex-direction: column;
}
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .burgermenu:hover {
    cursor: pointer;
    background: rgb(84, 80, 80);
    
  }
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  #myLinks {background: #111115;
height: 22.063rem; ;}
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

html{width: 100%;
height: 124rem;
margin: auto;}
body{width: 100%;
    min-width: 320px;
    height: 124rem;
}
.navigation{width: 40rem;
    min-width: 320px;
height: 2.125rem;
position: fixed;}
.navigation ul li, .navigation .designed{
    display: none;
}
header{width: 100%;
min-width: 320px;}
.panda{
    width: 100%;
    min-width: 320px;
    height: 23.063rem;
}
.navigation h1{
    font-family: Roboto;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
border-style: none;
width: 2.929rem;
height: 1.814rem;
margin-top: -2.6rem;

}
.bamboo{
    height: 13.561741432773928px;
width: 4.542648583433809px;
left: 24px;
top: 13.986328125px;
border-radius: 0px;

}
.burgermenu{
    position: absolute;
    height: 10px;
width: 18px;
left: 602px;
top: 11px;
border-radius: 0px;
display: block;
}

.maincontainer{
    width: 100%;
    min-width: 320px;
}
.maincontainer h3 {
    width: 150%;
    min-width: 320px;
    font-size: 22px;
    line-height: 28px;
    height: 3.625rem;
    padding-top: -6rem;
    margin-top: -1rem;
}
.pardiv{
    margin-top: -2.5rem;
}
.maincontainer div:nth-child(3){
    margin-top: 4.7rem;
}
.containerinside{
    width: 37.5rem;
    margin-top: 3.7rem;
}

.containerinside p:nth-child(2){
    width: 90%;
    min-width: 300px;
    text-align: center;
    padding-top: 4rem;
}
.iconcontainer{
    width: 80%;
    
}
.iconcontainer span i{
    left: 327px;
    top: 330px;
}
.iconcontainer p{
    margin-left: 1rem;
    margin-top: -2rem;
}
.minipanda{
    margin-left: 0rem;
    margin-top: -8rem;
    
}
.four{
    margin-top: -8rem;
}
.iconcontainer div:first-child{
    margin-left: -11rem;
}
.altcontainer .scalebox{
    width: 100%;
    min-width: 300px;
    margin-left: 0rem;
}
.scalebox .sevendot:nth-child(2){
    display: none;
    
}
.scalebox .sevendot:nth-child(3){
    display: none;
    
}
.scalebox div:nth-child(3){
    margin-top: 0px;
    
}
.scalebox div:nth-child(5){
    
}.scalebox div:nth-child(6){
    
}
.scalebox div:nth-child(7){
    
}
.countbox{
    width: 39.9rem;
     
}

.countbox div:nth-child(3){display: none;}
.price3{display: none;}
.price4{display: block;}
.altcontainer .price4{
    margin-left: 0rem;
    width: 37.9rem;
}
.altcontainer p:first-child{
margin-left: 1rem;
}
.countbox div:nth-child(2){
    display: none;
}
.countbox{margin-top: 1rem;margin-left: 0rem;
width: 690px;}
.countbox .count{
    margin-top: -0.75rem;
    margin-left: 0rem;
   
}
.input-icon{margin-top: 4rem;}
.input-icon i{
    margin-left: -13rem;   
    margin-top: 1.6rem;
}
.inputradio{
    margin-left: 13rem;
    margin-top: 1rem;
}
.input-field{
    margin-left: -30rem;
    width: 180px;
    height: 2.625rem;
    margin-top: -38px;
}
.feedbutton{
    margin-left: 10rem;
}
.sharetext{
    margin-left: 8.7rem;
}
footer{width: 100%;
height: 17.625rem;}
.footer-container{
    height: 17.625rem;
}
.news div:first-child{display: none;
margin-top: -40rem;}

.social-links{
    margin-top: -13.2rem;
    margin-left: 31rem;
    width: 7rem;
}
.menu{
    width: 60%;
    height: 30px;
    margin-top: -1.2rem;
    margin-left: -9em;
}
.designed-footer{
    margin-top: 13rem;
    margin-left: 3rem;
}

.bamboo2{
    top: 1740px;
    left: 40px
} 
/*     nav    */


}
@media(max-width:320px){
    .navigation{
        width: 20rem;
        position: fixed;
    }
    .panda{
        width: 100%;
        height: 13.813rem;
    }
    body{
        width: 100%;
        margin: auto;
        height: 106.313rem;
    }
    html{
        height: 106.313rem;
    }
    .textdiv{
        height: 5.438rem;
        width: 12rem;
        margin-top: 0rem;
    }
    .maincontainer .textdiv h3{
        font-size: 1.5rem;  
        line-height: 1.8rem;
    }
    .maincontainer{
        height: 71.563rem;
    }
    .pardiv{
        margin-top: -1.8rem;
    }
    .containerinside{
        width: 300px;
        height: 36.938rem;
        margin-top: 2.6rem;
    }
    .maincontainer div:nth-child(3){
        margin-top: 14.8rem;
        width: 12rem;
       
    }
    .altcontainer img .price5{
        width: 18.75rem;
    }
    .maincontainer div:nth-child(3) h3{
        font-size: 1.5rem;  
        line-height: 1.8rem;
    }

    .containerinside h2{
      margin-left: -10rem;
        font-size: 24px;
        line-height: 28.8px;
    }
    .containerinside p:nth-child(2){
        font-size: 16px;
        line-height: 22.4px;
        width: 50%;
        margin-top: -3rem;
       
    }
    .containerinside.iconcontainer{
        width: 18.75rem;
        margin-top: -20rem;
    }
    .iconcontainer{
    
        width: 18.75rem;
        
    }

  
    .iconcontainer span i{
        left: 102px;
        top: 188px;
    }
    .iconcontainer div:first-child p{
        margin-left: 0.2rem;
        margin-top: -3.8rem;
        font-size: 9.2px;
    }
    .minipanda{
       position: absolute;
       height: 137.91890716552734px;
width: 161.40493774414062px;
left: 109.35px;
top: 244px;
border-radius: 0px;
    }
  .altcontainer{
    margin-top: 3rem;
    margin-left: -9.8rem;
  }
  .four{
    width: 3rem;
  }
    .iconcontainer div:first-child{
        margin-left: -14rem;
        margin-top: -18rem;
    }
    .altcontainer .scalebox{
        width: 17.75rem;
        height: 0.844rem;
        margin-left: 9.8rem;
       
    }
    .scalebox div:nth-child(3){
        display: none;
        width: 0.2rem;
        border-radius: 50%;
    }
    .altcontainer{width: 320px;
    margin-top: -265px;}
    .scalebox div:nth-child(7){display: block;}
    .countbox{width: 18.75rem;
    height: 2rem;
    }
.countbox{display: none;}

    .iconcontainer .four{
     margin-top: -200rem;

    }
    .price3{display: none;}
    .price4{display: none;}
    .price5{display: block;}
    .altcontainer .price5{
        margin-left: 10rem;
       width: 18.75rem;
        height: 1.125rem;
    }
    .altcontainer p:first-child{
       display: none;

    }
    
    .input-icon i{
        margin-left: -23rem;   
        margin-top: -16.3rem;
    }
    .inputradio{
        margin-left: 14rem;
        margin-top: 1rem;
        
    }
    .input-field{
      
        margin-top: -1.9rem;
        width: 11rem;
        height: 2.625rem;
        margin-left: -29rem;
      
    }
    
    .feedbutton{
        margin-left: 10rem;
    }
    .sharetext{
      
    }
    footer{width: 20rem;
    height: 20.875rem;}
    .footer-container{
        height: 20.875rem;
        margin-left: 3px;
        
    }
    .donate-line h4{
        width: 8rem;
        border-style: none;
        margin-left: 5rem;
    }
    .donate-line button{
        margin-left: -0.5rem;
    }
    .news div:first-child{display: none;
    margin-top: -40rem;}
    .social-links ul{
        display: flex;
        flex-direction: row
    } 
    .social-links ul li a{
        color: black;
    }
    .social-links{
        display: flex;
        flex-direction: row;
        margin-top: -10.2rem;
        margin-left: 0rem;
        width: 7rem;
    }
    .menu{
        width: 25%;
        height: 30px;
        margin-top: -1.2rem;
        margin-left: -13em;
    }
    .designed-footer{
        margin-top: 12rem;
        margin-left: -14rem;
    }

    .bamboo2{
        top: 1380px;
        left: 177px
    } 
    .burgermenu{
        height: 10px;
width: 18px;
left: 292px;
top: 12px;
border-radius: 0px;

    }
    .topnav{width: 320px;
    height: 140px;}
}
